@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
#container {
    font-family: "VT323", monospace;
    color: white;
    height: 100vh;
    background-color: #262e2f;
    overflow: hidden;
}

#main-nav-container {
    text-align: center;
    margin: 1%;
    height: fit-content;
    background-color: rgba( 130, 130, 130, 0.2);
    font-size: 1.25vw;
    padding-left: 30px;
    padding-right: 30px;
}

#progress-bar-container {
    width: 70%;
    height: 7%;
    background-color: rgba( 130, 130, 130, 0.2);
    border-radius: 100px;
    position: relative;
    overflow-x: hidden;
    margin-right: auto;
    margin-left: auto;
}

#stageProgressBar {
    width: 0%;
    position: relative;
    height: 100%;
    background-color: #63a941;
    border-radius: 100px;
}

.statsCol {
    text-align: center;
}

#statsTitle {
    color: white;
    font-size: 1.75vw;
    margin-bottom: 2vh;
}

.statsDisplay {
    font-size: 1.15vw;
    color: #b3945f;
}

#rankDisplay,
#phaseDisplay,
#treesGrown {
    font-size: 1.15vw;
    color: white;
}

#playerAvatarContainer {
    width: fit-content;
    position: relative;
    background-color: rgba( 130, 130, 130, 0.2);
    ;
    margin-right: 25%;
    padding: 5%;
}

#playerAvatar {
    width: 75%;
    position: relative;
    position: block;
}

.col-4 {
    border-left: 1px solid rgba( 130, 130, 130, 0.3);
    height: fit-content;
}


/* need to fix and make text appear always */

#main-shop-container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    font-size: 150%;
}

#upgradeTitle {
    font-size: 4vh;
    margin-top: -2vh;
}

.botContainer {
    margin-right: 5vw;
    margin-bottom: 3vh;
    height: 20%;
}

.botProgressBarContainer {
    width: 90%;
    height: 5vh;
    position: relative;
    border-radius: 100px;
    text-align: center;
    background-color: rgba( 130, 130, 130, 0.2);
}

.botProgressBar {
    width: 0%;
    height: 100%;
    border-radius: 100px;
    font-size: 25px;
    background-color: #b3945f;
    overflow: hidden;
}
.botProgressBarLabel {
  position: absolute;
  font-size: 2.5vh;
  top: 0.6vh;
  width: 90%;
  left: 1rem;
}

.botIcon {
    position: absolute;
    width: 70%;
    background-color: rgba( 130, 130, 130, 0.2);
    border-radius: 100px;
    bottom: 0.3;
    left: 0.5vw;
}

.botIconContainer {
  position: relative;
}
.botCounterContainer {
  position: absolute;
  bottom:  0;
  left: 1vw;
  background-color: rgba( 130, 130, 130, 0.5);
  border-radius: 50%;
  width: 5vw;
  height: fit-content;
}
.botCounter {
    font-size: 1vw;
    margin: -1px;
}

.botButton {
    background-color: rgba( 130, 130, 130, 0.2);
    border-radius: 10px;
    width: 40%;
    float: left;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 2%;
    font-size: 1.15vw;
    text-align: center;
    border: none;
}

.botButtonLabel {
    color: white;
    border: none;
    margin-bottom: -5%;
}

.botButtonPrice {
    color: #B3945F;
    border: none;
}

.boostButton {
    background: rgba( 99, 169, 65, 0.2);
    border-radius: 10px;
    width: 40%;
  
    margin-top: 2%;
    font-size: 1.15vw;
    float: left;
    text-align: center;
    border: none;
}

.boostButtonLabel {
    color: white;
    border: none;
    margin-bottom: -5%;
}

.boostButtonPrice {
    color: #B3945F;
    border: none;
}

#stageImageContainer {
    width: 60%;
    background-color: rgba( 130, 130, 130, 0.2);
    text-align: center;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    height: 50vh;
    margin-top: 5%;
}

#stageImageContainer img{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
}

#main-game-container {
    margin-top: 2%;
    height: 100vh;
    text-align: center;
}

#addXPButtonContainer {
    text-align:center;
    margin-top: 2vh;
}

#addXPButton {
    position:relative;
    display:inline-block;
    background-color:transparent;
    border: none;
}

#addXPButton a{
    color:#63a941;
    font-size: 4vh;
    text-align: center;
    text-decoration:none;
    border-radius: 50px;
    background-color:rgba( 130, 130, 130, 0.2);
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=0.5px);
    
    -webkit-box-shadow:inset 0 1px 0 rgba( 130, 130, 130, 0.2), 0 3px 0 rgb(39, 39, 39);
    
    -webkit-border-radius: 50px;
    border: none;
  }
  
#addXPButton a:active{
    top:10px;
    border-radius: 50px;
  background-color:rgba( 130, 130, 130, 0.075);
  
  -webkit-box-shadow:inset 0 0.5px 0 rgba( 130, 130, 130, 0.075), inset 0 0.25px 0 black;
  border: none;
  }
  
#addXPButton:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 50px;
    border: none;
  }









#XPDisplay {
    float: left;
}

#soilDisplay {
    color: #B3945F;
}

#usernameDisplay {
    float: right;
}

#gameIcon {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    width: 3%;
}

hr.defaultDivider {
    border-top: 1px solid rgba( 130, 130, 130, 0.2);
    margin-right: 5%;
}