#progress-bar-container {
    width: 100%;
    background-color: grey;
}

#stage-progress {
    width: 0%;
    height: 30px;
    background-color: green;
}

#stageImage {
    width:250px;
    height:250px;
}

