#progress-bar-container{
    width: 50%;
    background-color: grey;
    overflow: hidden;
}

#stageProgressBar {
    width: 0%;
    height: 30px;
    background-color: green;
}

.botProgressBarContainer {
    width: 100%;
    background-color: grey;
    overflow: hidden;
}

.botProgressBar {
    width: 0%;
    height: 30px;
    background-color: green;
}

.botItem {
    width:100px;
}
.botIcon {
    width:100px;
}
#stageImage {
    width:250px;
    height:250px;
}

#main-nav-container {
    text-align: center;
}
#XPDisplay {
    float: left;
}

#soilDisplay {
    display: inline-block;
}

#usernameDisplay {
    float: right; 
}