@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
#pageContainer {
    font-family: "VT323", monospace;
    background: #262E2F;
    height: 100vh;
    padding-top: 10vh;
}

#connectContainer {
    width: 60vw;
    height: fit-content;
    position: block;
    margin: auto;
    text-align: center;
    margin-bottom: none;
}

#connectWalletButton {
    background: #828282;
    color: #FFFFFF;
    font-size: 150%;
    width: 70%;
    border-radius: 20px;
    margin: 5vh;
}

#gameLogo {
    width:50vw;
    position:relative;
    -webkit-animation:glide 2s ease-in-out alternate infinite;
}

@-webkit-keyframes glide  {
    from {
       left:0px;
       top:0px;
    }
    
    to {
       left:0px;
       top:10px;
    }
 
 }

#gameIcon {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    width: 3%;
}
#titleLogo {
    color: #B3945F;
}